@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: cursive;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 12.5rem;
}
header a{
    text-decoration: none;
}
header .logoicon i{
    text-decoration: none;
    color: darkblue;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.125rem;
    margin: 0.875rem;
}
.navtaps a{
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    padding-left: 3.125rem;
    font-size: 1.25rem;
    transition: 0.5s ease;
}
.logo{
    padding-top: 0.75rem;
    margin: 0rem;
    position: fixed;
    width: 0.625rem;
    text-decoration: none;
}
header img {
    float: left;
    width: 5rem;
    height: 5re;
    position: fixed;
  }
.navtaps a:hover{
    color: #667292;
}
header .sign a {
    text-decoration: none;
    color: #f0f0f0;
    background-color: darkblue;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.2rem 2rem;
    margin-left: 3.125rem;
    border-radius: 3.125rem;
    transition: 0.7s ease;
}
header .sign a:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}
section{
    padding: 12.5rem 12.5rem;
}
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../img/business-gf079df6a4_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
}
@keyframes change{
    0%{background-image: url(../img/business-gf079df6a4_1920.jpg);}
    20%{background-image: url(../img/software-development-g4a816810f_1920.jpg);}
    40%{background-image: url(../img/coding-g9c59eb41a_1920.jpg);}
    60%{background-image: url(../img/computer-gc7648328c_1920.jpg);}
    80%{background-image: url(../img/business-gd988d166e_1920.jpg);}
    100%{background-image: url(../img/laptop-g3faa408b1_1920.jpg);}
}
.main .container{
    padding: 2rem;
    background-color: rgba(240, 240, 240, 80%);
    border-radius: 3.125rem;
}
.main h4{
    color: #667292;
    font-size: 3.125rem;
    font-weight: 700;
}
.main h1{
    color: darkblue;
    font-size: 6.25rem;
    font-weight: 800;
}
.main h3{
    color: #667292;
    font-size: 3.125rem;
    font-weight: 700;  
}
.bottoms a{
    text-decoration: none;
    color: #f0f0f0;
    background-color: darkblue;
    font-size: 3.125rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.125rem 5rem;
    margin-top: 1.875rem;
    margin-right: 1.875rem;
    border-radius: 3.125rem;
    transition: 0.7s ease;
}
.bottoms a:hover{
    background-color: #667292;
    transform: scale(1.1);
}
.HTML {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0rem 0rem;
    margin: 10rem 10rem ;
}
.text1 {
    width: 100rem;
}
.text1 h1{
    width: 100%;
    font-size: 6.25rem;
    font-weight: bold;
}
.text1 h3{
    font-size: 2.5rem;
    font-weight: bold;
}
.text1 p{
    font-size: 1.875rem;
}
.text1 img {
    width: 100%;
}
.HTML .HTMLimg{
    width: 125rem;
    height: 0rem;
    display: inline-block;
    padding-left: 6.25rem;
    padding-top: 3.75rem;
}

.HTMLimg img{
    width: 100%;
    position: static;
}
.bott{
    text-decoration: none;
    color: #f0f0f0;
    background-color: darkblue;
    font-size: 3.125rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.125rem 5rem;
    margin-top: 1.875rem;
    margin-right: 1.875rem;
    border-radius: 3.125rem;
    transition: 0.7s ease;
}
.bott:hover{
    background-color: darkcyan;
    transform: scale(1.1);
}

.CSS {
    display: flex;
    justify-content:  space-between;
    flex-direction: row;
    padding: 6.25rem;
    margin: 0.625rem;
    background: url(../img/programming-g09a2213f9_1920.png) no-repeat;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.text2{
    margin-left: 6.25rem;
    background-color: white;
    padding: 3.125rem;
    border-radius: 1.5625rem;
}
.text2 h1{
    font-size: 6.25rem;
    font-weight: bold;
}
.text2 h3{
    font-size: 2.5rem;
    font-weight: bold;
}
.CSS img {
    margin-top: 6rem;
}
.text2 p{
    font-size: 1.875rem;
}
.CSS .CSSimg{
    width: 187.5rem;
    height: 0rem;
    display: inline-block;
    padding-left: 6.25rem;
    padding-top: 9.375rem;
}

.CSSimg img{
    width: 100%;
    position: static;
}
.bott{
    text-decoration: none;
    color: #f0f0f0;
    background-color: hsl(240, 100%, 27%);
    font-size: 3.125rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.125rem 5rem;
    margin-top: 1.875rem;
    margin-right: 1.875rem;
    border-radius: 3.125rem;
    transition: 0.7s ease;
}
.bott:hover{
    background-color: #667292;
    transform: scale(1.1);
}
.HTML .javas {
    margin-top: 6rem;
}
.Javaimg{
    width: 100%;
    position: static;
    padding-top: 6.25rem;
}
.count{
    padding: 3.125rem 12.5rem;
    background: url(../img/coding-g9c59eb41a_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 3.125rem;
}
.back{
    margin: 0rem;
    padding: 0rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4.375rem;
}
table{
    display: inline-block;
    padding: 0.16rem 0.25rem;
    align-items: center;
    width: 100%;
}
table .icons{
    color:darkblue;
    font-size: 9.375rem;
}
table .icons th{
    padding: 0rem 6.25rem;
}
table .num{
    font-size: 1.875rem;
    font-weight: bold;
}
table .text{
    font-size: 1.875rem;
    font-weight: bold;
    padding-bottom: 3.125rem;
}
table .icons i {
    transition: 0.5s ease;
}
table .icons i:hover {
    color: #667292;
}
.footer-table {
    margin-right: 41.875rem;
}
.footer{
    background-color: #f0f0f0;
    color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 3.125rem;
}
.footer .list{
    font-size: 1.25rem;
    padding: 0rem 3.125rem;
    font-weight: 500;
    list-style-type: none;
}
.footer .list span{
    font-size: 1.375rem;
    font-weight: bold;
}
.footer .soical-icons {
    font-size: 1.875rem;
    padding: 2.125rem;
    width: 100%;
    text-align: center;
    
}
.footer .soical-icons a {
    padding: 1.25rem;
}
.footer .soical-icons .text {
    text-align: center;
}
.send {
    padding: 6.25rem 2.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0rem 12.5rem;
}
.send h3 {
    padding-bottom: 3.125rem;
    font-size: 3.125rem;
    color: darkblue;
}
.send form {
    font-size: 1.5625rem;
    font-weight: 400;
    color: darkblue;
}
.send form input {
    padding-right: 31.25rem;
    border-color: hsl(240, 100%, 90%);
}
.send form .message{
    padding-bottom: 12.5rem;
}
.send form .name{
    padding-bottom: 1.25rem;
}
.send form button {
    color: white;
    margin: 1.25rem 0rem;
    padding: 0.3125rem 3.125rem;
    font-size: 1.5625rem;
    font-weight: 400;
    transition: 0.7s ease;
    border: none;
    background: darkblue;
    border-radius: 3.125rem;
}
.send form button:hover {
    transform: scale(1.1);
    background-color: #667292;

}
.send form div {
    margin: 0.625rem;
}

/*Course-----------------------------------------------------------------------------*/
body .HTMLmain {
    background: url(../img/computer-gc7648328c_1920.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem;

}
.HTMLmain .container{
    padding: 2rem;
    border-radius: 3.125rem;
    display: inline-block;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
}
.HTMLmain h1{
    color: #f0f0f0;
    font-size: 11.25rem;
    font-weight: 800;
    text-align: center;
}
.tabs {
    margin: 0rem;
    padding: 0rem;
}
.tabs .bottons_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0rem;
}
.tabs .bottons_div .bottons {
    width: 100%;
    border: none;
    background-color: #f0f0f0;
    transition-duration: 0.7s;
}
.tabs .bottons_div .bottons:hover {
    background-color: #667292;
}
.tabs .bottons_div .bottons span {
    display: inline;
    font-size: 1.2rem;
    display: flex;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
}
/*
.silder {
    margin: 2rem;
    border: #667292 solid 1px;
    overflow: hidden;
}
.silder .mainContainer {
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
}
.silder .mainContainer {
    margin: 0.5rem;
    border: #667292 solid 1px;
    overflow: hidden;
}
#tow:checked ~ .mainContainer {
    margin-left: 100%;
}
.silder .mainContainer .mainCard .cards {
    width: calc(100% / 2 - 0.625rem);
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 1.25rem;
    justify-content: space-between;
}
.silder .silderContainer .card {
    border: #667292 solid 1px;
    border-radius: 1rem;
    width: 15rem;
    height: 21rem;
    overflow: hidden;
}
.silder .silderContainer .card img {
    width: 100%;
}
.silder .silderContainer .card {
    text-align: center;
}
.silder .silderContainer .card .belowImg .more a {
    text-decoration: none;
    color: #f0f0f0;
    background-color: darkblue;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.1rem 5.3rem;
    margin-left: 0rem   ;
    border-radius: 3.125rem;
    transition: 0.7s ease;
}
.silder .silderContainer .card .belowImg .more a:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}
.silder .silderContainer .card .belowImg p {
    font-size: 0.7rem;
}
*/